<%= render "navbar" %>


<div class="list-group centered-form">
    <h3 style="margin-bottom: 25px"> Surveys To take </h3>

    <% Survey.all.each do |s| %>
    <% if  SurveyResponse.find_by({survey_id: s.id}).nil? %>
    <%= link_to  s.name, 
        { 
            :action => "take_survey",
            :controller => "user",
            :survey => { name: s.name } 
        },
        method: :get,
        :class => "list-group-item" %>
    <% end %>
    <% end %>
</div>

<div class="list-group centered-form">
    <h3 style="margin-bottom: 25px"> Done Surveys </h3>

    <% Survey.all.each do |s| %>
    <% if not SurveyResponse.find_by({survey_id: s.id}).nil? %>
    <%= link_to  s.name, 
        { 
            :action => "show_survey_result",
            :controller => "user",
            :survey => { name: s.name, id: s.id } 
        },
        method: :get,
        :class => "list-group-item" %>
    <% end %>
    <% end %>
</div>
